@model SchoolSolution.Infrastructure.Entities.Course
@using SchoolSolution.Web.FrontEnd.Models
@using SchoolSolution.Web.FrontEnd.Code

@{
    ViewData["Title"] = "Cours";
}
<div class="top-buffer"></div>
<form asp-action="Delete" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Suppression Cours" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="container">
                <input type="hidden" asp-for="Id" />
                <p>êtes-vous sûre de vouloir supprimer le cours de @Model.Name ?</p>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>