@using SchoolSolution.Web.FrontEnd.Code
@using SchoolSolution.Web.FrontEnd.Models
@{ 
    ViewBag.Title = "Elèves";
}
<div>
   <div class="row">
       <div class="col-lg-4">
           <div class="panel panel-primary">
               <div class="panel-heading panel-head"><h2 class="text-center">Inscription Eleve</h2></div>
               <div class="panel-body ">
                   
                       <a id="createstudent" data-toggle="modal" data-target="#modal-action-student" asp-action="Create" class="btn-lg btn-info">Inscription Nouveau Elève</a>
                       @*<a asp-action="Edit" asp-controller="Enrollement" class="btn-lg btn-warning">Confirmation place</a>*@
                   
               </div>
           </div>
       </div>
       <div class="col-lg-4">
           <div class="panel panel-primary">
               <div class="panel-heading panel-heade"><h2 class="text-center">Frais Ecole</h2></div>
               <div class="panel-body">
                   <a id="createPayment" data-toggle="modal" data-target="#modal-action-student" asp-action="Create" asp-controller="Paiment" class="btn-lg  btn-info">Payment Frais</a>
                    <a asp-action="Index" asp-controller="Paiment" class="btn-lg  btn-warning">Contrôle Frais</a>
               </div>
           </div>
       </div>
      <div class="col-lg-4">
           <div class="panel panel-primary">
               <div class="panel-heading panel-heade"><h2 class="text-center">Côtes </h2></div>
               <div class="panel-body">
                   <a asp-action="Create" asp-controller="Score" class="btn-lg btn-success">Encoder les côtes</a>
                    <a asp-action="Index" asp-controller="Score" class="btn-lg btn-primary">Filtrage des côtes</a>
               </div>
           </div>
       </div>
   </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID="modal-action-student",AreaLabeledId="modal-action-student-label", Size =ModalSize.Medium})
@section scripts{
    <scipt src="~/js/student-index.js" asp-append-version="true"></scipt>
}
