
@model SchoolSolution.Infrastructure.Entities.Course

@using SchoolSolution.Web.Models
@using SchoolSolution.Web.Code

<div class="top-buffer"></div>
<form asp-action="Edit" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Modifier Cours" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="container">
                <input type="hidden" asp-for="Id"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label">Déscription</label>
                    <div class="col-md-3">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                    <label asp-for="PeriodAverage" class="col-md-2 control-label">Moyenne total</label>
                    <div class="col-md-3">
                        <input asp-for="PeriodAverage" class="form-control" />
                        <span asp-validation-for="PeriodAverage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ExamAverage" class="col-md-2 control-label">Moyenne total</label>
                    <div class="col-md-3">
                        <input asp-for="ExamAverage" class="form-control" />
                        <span asp-validation-for="ExamAverage" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="form-group">
                    <label asp-for="TotalAverage" class="col-md-2 control-label">Moyenne total</label>
                    <div class="col-md-3">
                        <input asp-for="TotalAverage" class="form-control" />
                        <span asp-validation-for="TotalAverage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentID" class="col-md-2 control-label">Section</label>
                    <div class="col-md-3">
                        <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>




