@page 



<div class="container">
    <h2>A Propos de l'application</h2>
    <dl class="dl-horizontal">
        <dt>Nom :</dt>
        <dd>Lemon Ecole</dd>
        <dt>Version :</dt>
        <dd>1.0.1</dd>
        <dt>Description :</dt>
        <dd>Une application de gestion d'école adapté au système de fonctionnement</dd>
    </dl>
    <hr/>
    <h2>Release note</h2>
    <p></p>
</div>
