    @page 

    <div class="top-buffer"></div>
    <div class="panel panel-info">
        <div class="panel-heading">A Propos de Lemon Ecole</div>
        <div class="panel-body">
            <div class="container">
                <dl class="dl-horizontal">
                    <dt>Nom :</dt>
                    <dd>Lemon Ecole</dd>
                    <dt>Version :</dt>
                    <dd>1.0</dd>
                    <dt>Description :</dt>
                    <dd>Une application de gestion d'école adapté au système de fonctionnement</dd>
                </dl>  
            </div>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading"><span class="glyphicon glyphicon-star"></span> Release notes</div>
        <div class="panel-body">
            <div class="container">
                
                <h3><strong>Version 1.0</strong></h3>
            <p>
                Cette version comporte des fonctionaliés basic pour une gestion d’école inclu(matérnelle, Primaire,Secondaire).<br/>
                encodage des élèves  et leurs informations concernant leur identités<br/>
                encodage des professeurs  et leurs informations concernant leur identités et<br/>
                voir details élèves concernant le paiement et ses côtes<br/>
                voir details professeurs ; sa classe titulaire et ses cours assigné<br/>
                voir details classe: nombre d’élèves et cours<br/>
                voir details sections: nombre des classes<br/>
                voir details nombre d’élèves, professeurs,sections et classes dans l’établissement<br/>
                autres infomations relatives<br/>
                encoder  et modifier les sections et classes au sein de l’établissement<br/>
                Ajout et modifications des cours<br/>
                Encodage des côtes des élèves<br/>
                encodage des frais de l’établissement<br/>
                filtrage des côtes<br/>
                filtrage des élèves en ordre avec les frais <br/>
                effectuer les payement des frais<br/>

            </p>
            </div>

        </div>
    </div>
