@page

<div class="top-buffer"></div>
<div class="row">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">Contact</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><i class=" glyphicon  glyphicon-phone"></i></dt>
                    <dd>+243 975 899 576</dd>
                     <dt><i class=" glyphicon  glyphicon-envelope"></i></dt>
                     <dd>support@lemondrop-sa.com</dd>
                </dl>
            </div>
        </div>
    </div>
</div>