@model SchoolSolution.Infrastructure.Entities.Department

@using SchoolSolution.Web.FrontEnd.Models
<div class="top-buffer"></div>
<form asp-action="Create" role="form">
    @await  Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Ajouter section"})
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="container" >
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label">Description</label>
                    <div class="col-md-3">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>